.homework-container-title {
    animation: 0.2s ease-in 0s 1 containerApear;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.homework-container-cards {
    animation: 0.2s ease-in 0s 1 containerApear;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat( 40px);
    grid-row-gap: 1.5vh;
    margin: auto;
    width: 70vw;
}

@media screen and (max-width: 500px) {
    .homework-container-cards {
        width: 90vw;
    }
    .homework-container-title {
        font-size: 25px;
    }
}

@keyframes containerApear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
