@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

.App {
    font-family: 'Exo 2', sans-serif;
    color:rgb(45, 192, 172);
    background: right top no-repeat url('../images/studentMainPageBackground.svg');
    

    .theme-changer-button {
        width: 30px;
        height: 30px;
        background: center no-repeat url('../icons/crescent-moon_icon-icons.com_70215.svg');
        position: fixed;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
        z-index: 2;
    }
    &.night {
        color: white;
        .theme-changer-button {
            background: center no-repeat url('../icons/mbrisun2_99594.svg');
        }

        background-image: url('../images/studentMainPageBackground night.svg');
        background-color: #14243B;
    }
}
