.homework-card-border {
    padding: 7px;
    border-radius: 15px;
    box-shadow: 11px 10px 16px -17px rgb(58, 105, 92);
    transition: 0.5s;
    width: 98%;
}

.homework-card {
    color: rgb(31, 83, 68);
    margin: auto;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: minmax(100px, 1fr) repeat(auto-fit, 90px);
    border-radius: 8px;
    width: 100%;
    min-height: 40px;
    cursor: pointer;
    background: white;
    transition: 0.5s;
}

.homework-card-border:hover {
    width: 99%;
    margin-left: -0.5%;
}

.homework-card:hover {
    background-color:rgba(255, 255, 255, 0.75);
}


.homework-card-tasks {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.homework-card-deadline-date {
    min-width: 70px;
    font-size: 0.8em;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.homework-card-status {
    min-width: 70px;
    font-size: 0.7em;
    margin-top: auto;
    margin-bottom: auto;
}
