@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');


.main-page-header {
    width: 75vw;
    margin-right: 0px;
    margin-left: auto;
    min-height: 8vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: 8vh;
    grid-gap: 15px;
    position: relative;
    margin-bottom: 2vh;
}

.main-page-header button {
    font-size: 1.2em;
    font-family:  'Comfortaa', cursive;
    border: none;
    background: none;
    outline: none;
    transition-duration: 0.5s;
    color:rgb(255, 255, 255);
}

.main-page-header .active-button {
    font-weight: bold;
}


.main-page-header .header-nav-button:hover {
    text-shadow: 2px 1px 5px rgba(66,66,66,0.46);
}

.main-page-header .header-nav-button:active {
    transform: scale(0.95);
}

.main-page-header .active-button:hover {
    text-shadow: none;
}

.main-page-header .header-nav-button:active {
    font-weight: bold;
}

.header-nav-button {
    cursor: pointer;
}

.main-page-header .close-button {
    grid-column-start: -1;
    grid-column-end: -2;
    cursor: pointer;
}
