@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');


.mainPageHeader {
    width: 75vw;
    margin-right: 0px;
    margin-left: auto;
    min-height: 8vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: 8vh;
    grid-gap: 15px;
    position: relative;
    margin-bottom: 2vh;
}

.mainPageHeader button {
    font-size: 1.2em;
    font-family:  'Comfortaa', cursive;
    border: none;
    background: none;
    outline: none;
    transition-duration: 0.5s;
    color:rgb(255, 255, 255);
}

.mainPageHeader .active-button {
    font-weight: bold;
}


.mainPageHeader .headerNavButton:hover {

}

.mainPageHeader .active-button:hover {
    border-radius: 5px 5px 0 0;
}

.mainPageHeader .headerNavButton:active {
    font-weight: bold;
}

.headerNavButton {
    cursor: pointer;
}

.closeButton {
    grid-column-start: -1;
    grid-column-end: -2;
    cursor: pointer;
}
