@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.subject-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.module-border-wrap {
    max-width: 310px;
    height: 180px;
    min-height: 150px;
    position: relative;
    background: linear-gradient(45deg, #F1F9D3, #97F7F5);
    padding: 7px;
    border-radius: 15px;
    
    transition-duration: 0.4s;
}

.module-border-wrap:hover {
    transform: scale(1.04);
}

.module-border-wrap:active {
    transform: scale(0.95);
}

.subjectCard {
    font-family:  'Comfortaa', cursive;
    font-size: 1em;
    min-width: 275px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
    height: 90%;
    color:rgb(45, 192, 172);
    border-radius: 10px;
    padding: 0.5em 1em;
    background-color:rgba(255, 255, 255, 0.9);
    transition-duration: 0.2s;
    cursor: pointer;
    user-select: none;
}

.subjectCard:hover {
    background-color:rgba(255, 255, 255, 0.7);
}

.subjectCard:active {
    filter: none;
}

.subjectName {
    font-size: 1.8em;
    margin: auto 0px;
}

.homeworkStatus {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.averageMark {
    margin-top: auto;
    margin-bottom: auto;
}

.teacherName {
    margin-top: auto;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: auto;
}
